@charset "utf-8";
/* CSS Document */

/*Es buena practica hacer un reset css*/

html, body,h1,h2,h3,h4,h5,h6,p,oi,ul,li,pre,code,address,form,fieldset{
	padding:0;
	margin:0;
	font-size:100%;
	font-weight:normal;
}

ol{margin-left:1.4em;
	list-style:decimal;
}

ul{
	margin-left:1.4em;
	list-style:aquare;/*la viñeta se se va a mostrar en el navegador*/
}
/*Terminamos el reset css*/

#principal{
	float:left;/*para que una div flote y se quede a la izquierda*/
	width:580px;
}

#lateral{
	margin-left:600px;
	padding:15px;
	background: #96F;
}

body{
	color:#006;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding-top:100px;
	background:#96F url(images/fondo_cuerpo.png) repeat-x;
	width:800px;
	margin:0 auto;
}

h1{
	font-size:3em;
	font-family:Arial, Helvetica, sans-serif;
}

h2 {
	font-size:2.2em;
	color:#03F;
	margin-bottom:5px;
}

#principal h2{
	color:#e8a064;
	border-bottom:2px white solid;
	background:url(images/flor.png) no-repeat;
	padding:0 0 2px 80px;
}

#principal p{
	color:#616161;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:1.1em;
	line-height:150%;
	margin-bottom:10px;
	margin-left:80px;
}

#principal.intrucuccion{
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
	margin-left:0px;
	margin-bottom:25px;
}